@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	body {
		@apply bg-background font-body text-foreground;
	}
}

:root {
	--font-body: 'Chivo Mono', serif;
	--font-header: 'Chivo Mono', serif;
	--font-mono: 'Chivo Mono', serif;
}
